body{
   margin: 0%;
   padding: 0%;
   background-color: #3a3838;
}

.border{
   border: 2px solid black;
   margin: 0px 0px;
}
header{
   height: 50px;
   background-color: #3a3838;
   grid-area: header;
   border-radius: 5px;
}

nav{
   grid-area: navbar;
   padding: 10px 23px;
   padding-top: 15px;
   
}
nav a{
   padding-inline: 10px;
   text-decoration: none;
   color:white;
   margin: 0px 8px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav a:hover{
   color: black;
}

#signup-button{
   position: absolute;
   top: 15px;
   right: 10px;
}

.container{
   display: grid;
   grid-gap: 0rem;
   grid-template-areas: 
   'header header header header'
   'section section section section'
   'footer footer footer footer'
   ;
}





section{
   grid-area: section;
   display: block;
   height: 1068px;
   width: 1903pxpx;
}

.u-icon-1 {
   background-image: url("images/1.b4d6a21edbe3.png"); 
   background-repeat:no-repeat;
 }
.u-icon-2 {
   background-image: url("images/2.7f367393b123.png"); 
   background-repeat:no-repeat;
}
#find-mentor-txt{
   position: absolute;
   font:16px "Open Sans",sans-serif;
   left:21%;
   top: 57%;
   color: white;
   text-transform: uppercase;
   margin: 19px 1px 0 0;
   width: 126px;
}
#become-mentor-txt{
   position: absolute;
   font:16px "Open Sans",sans-serif;
   right:17%;
   top: 57%;
   color: white;
   text-transform: uppercase;
   margin: 19px 1px 0 0;
   width: 157px;
}

#home_section{
   color: #ca0813;
   background-image: url("images/721149.05fa3c6a5324.webp");
   background-repeat: no-repeat;
   background-position: 50% 50%;
}
#main-heading{
   color:rgb(27 25 92);
   font-size: 40px;
}
#introduction{
   
   padding: 10px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 20px;
   color: #482fab;
}

.mentee-box:hover{
   padding-top: 65px;
   padding-bottom: 66px;
   top: 44%;
}
.mentor-box:hover{
   padding-top: 65px;
   padding-bottom: 66px;
   top: 44%;
}

.boxes a{
   position: absolute;
   background-color: inherit;
   text-decoration: none;
}
.mentee-box{
   left:20%;
   top: 45%;
   padding: 65px;
}

.mentor-box{
   right:20%;
   top: 45%;
   padding: 65px;
}

.heading1{
   position: absolute;
   color: white;
   left:40%;
   top: 600px;
   width: 40%;
   font:36px Roboto,sans-serif;
   /* margin: 8px 49px 0px; */
   /* align-items: center; */
   /* justify-content: center; */
}

.def{
   color: white;
   font:24px Roboto,sans-serif;
   margin: 20px 1px 0px;
   top: 70%;
   left: 26%;
   width: 60%;
   position: absolute;
}



footer{
   background-color: #2e2627;
   grid-area: footer;
   color: white;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 20px;
   padding: 8px;
}

.signup-section{
   background-image: url("images/abstract-simple-background_1596927932.a1760b7ec7b8.jpg");
   
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: cover;
}
