body{
   margin: 0%;
   padding: 0%;
}

.border{
   border: 2px solid black;
   margin: 0px 0px;
}
header{
   height: 50px;
   background-color: #ca0813;
   grid-area: header;
   border-radius: 5px;
}

nav{
   grid-area: navbar;
   padding: 10px 23px;
   padding-top: 15px;
   /* transition: background-color 2s ease-in-out 2s; */
   
}
nav a{
   padding-inline: 10px;
   text-decoration: none;
   color:white;
   margin: 0px 8px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav a:hover{
   color: black;
}

#signup-button{
   position: absolute;
   top: 15px;
   right: 10px;
}

.container{
   display: grid;
   grid-gap: 0rem;
   grid-template-areas: 
   'header header header header'
   'section section section section'
   'footer footer footer footer'
   ;
}


section{
   grid-area: section;

   background-repeat: no-repeat;
   
   display: block;
   height: 1068px;
   width: 1903pxpx;
}
#home_section{
   color: #ca0813;
}
#main-heading{
   color:rgb(27 25 92);
   font-size: 40px;
}
#introduction{
   
   padding: 10px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 20px;
   color: #482fab;
}
#middle-line{
   position: absolute;
   left: 50%;
   height: 200px;
   border-right: 4px solid green;  
   color: rebeccapurple;
   border-radius: 10px;
}
#inner-span a{
   text-decoration: none;
   color: aquamarine;
   padding: 5px;
   margin: 2px;
   top: 35%;
   height: 60px;
   /* align-items: center; */
   /* justify-content:center; */
   border: 3px solid green;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
#inner-span a:hover{
   color: black;
}
#find_mentor_button{
   position: absolute;
   left: 20%;
   
}
#become_mentor_button{
   position: absolute;
   left: 70%;
}


.boxes a{
   position: absolute;
   color: green;
   background-color: white;
   border: 2px solid grey;
   border-radius: 15px;
   border-width: 4px;
   padding: 70px;
   display:none;
   /* position: relative; */
   /*text-decoration: none;
   left: 0%;
   top: 60%;*/

}

footer{
   background-color: #ca0813;
   grid-area: footer;
   color: white;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 20px;
   padding: 8px;
}

