<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>tasks</title>
</head>
<body>
   
   {{k}}
   <br>
   <ul>
      {{users}}
      <hr>
      {{users.query}}
      <hr>
      {% for task in tasks %}
         <li>{{task}}</li>
      {%endfor%}

      <h1>Add Tasks</h1>
      <!-- 'tasks:index' the post method takes the data and submit it to the following url "index" in this case -->
      <form action="{% url 'mentor_links:tasks' %}" method="post">
         {%csrf_token%}
         <!-- new task: <input type="text" name="task"> -->
         <br>
         {{forms_by_django}}
         <input type="submit">
      </form>
      <a href="{% url 'mentor_links:index'%}">goto home</a>

   </ul>
</body>
</html>